<h1>Bookings#show</h1>
<h2>Create a review </h2>
<%= simple_form_for [ @booking, @review ] do |f| %>
  <%= f.input :rating %>
  <%= f.input :comment %>
  <%= f.submit "Leave review", class: "btn btn-primary" %>
<% end %>
